body {
  font-family:courier;
  letter-spacing:1px;
  font-size:14px;
  width: 810px;
  margin-left:auto;
  margin-right:auto;
  text-align: justify;
}

a {  color:black; }

.title a { text-decoration:none; border-bottom:1px solid black; color:black;}
a:hover { color:black; border-bottom:none; }

h1 a { text-decoration:none; }


h1 { font-size: 30px; font-weight:normal;
     margin-left:auto; margin-right:auto; text-align:center;
     margin-top:5px; margin-bottom:2px;
     padding-bottom:5px;
   }
h2 { font-size: 30px; font-weight:normal; margin: 16px 0 2px -2px; }
h3 { font-size: 21px; font-weight:normal; margin-top:16px; margin-bottom:16px;}
h4 { font-size: 15px; font-weight:normal; margin-top:16px; margin-bottom:16px;}

p { line-height:15px; margin:16px 0 16px 0; }

hr { color: #aaa; background-color:#aaa; height:1px; border:0; }

.strapline {
  margin-left:auto; margin-right:auto;
  width:250px;
  text-align:center;
  margin-top:-5px;
  font-size:16px;
}

.footer {
  width:160px;
  margin-left:auto; margin-right:auto;
  text-align:center;
  font-size:12px;
  position:absolute;
  left: 0;
  right: 0;
  bottom:0;
  text-align:center;
  margin-bottom:10px;
  width:100%;
}

.title a { border-bottom:none; }

.demo { width:400px; }
.demo .title {
  margin-left:auto; margin-right:auto; text-align:center;
  width:400px;
}

.grid {
  width: 810px;
  margin-left:auto; margin-right:auto; text-align:center;
  margin-top:-20px;
}

.grid-element{
  width:200px;
  padding:35px;
  float:left;
}

span.jquery-console-prompt span.keyword { color: #FFF286; }
span.jquery-console-prompt span.literal { color: white; }
span.jquery-console-prompt span.type { color: #89FB95; }
span.jquery-console-prompt span.variable {
  color: #F3AFFF;
  border-bottom:1px dotted #926999;
}
span.jquery-console-prompt span.attribute {
  color: #87C4FF;
  border-bottom:1px dotted #517699;
}
span.jquery-console-prompt span.function {
  color: #B0A5FF;
  /* border-bottom:1px dotted #6A6399; no help for fns, yet */
}

#tutor {
  color:#666;
  text-align: left;
  border:1px solid black;
  height:17px;
  width:798px;
  padding:6px;
  margin-bottom:10px;
}

#tutor .code {
  background-color: #000;
  color:#fff;
  padding:6px 12px 7px 12px;
  margin:0 -2px 0 -2px;
}

#help {
  border:1px solid black;
  height:64px;
  width:386px;
  padding:6px;
  text-align:left;
  margin-top:10px;
}

.console-canvas-container {
  height:400px;
}

#canvas {
  border:1px solid black;
  float:right;
}

#console {
  color:white;
  width:398px;
  background-color:black;
  height: 398px;
  border: 1px solid #000;
  float:left;
  font-size: 16px;
  font-family:'courier';
  margin-bottom:8px;
}

#console div.jquery-console-inner {
 width:380px;
 height:380px;
 margin: 6px;
 overflow:auto;
 text-align:left;
 cursor:default;
}
#console span.jquery-console-prompt-label {
padding:0 6px 0 0;
}

#console div.jquery-console-message-value {
  padding-left:17px;
}

#console div.jquery-console-message-error {
 color:#f33;
 padding-left:17px;
}
#console div.jquery-console-message-success {
 color:#187718;
 padding:0.1em;
}
#console span.jquery-console-prompt-label {
 font-weight:bold;
}

#console span.jquery-console-cursor {
  background: rgb(0, 0, 0); /* Fall-back for browsers that don't support rgba */
  background: rgba(0, 0, 0, 0);
}
